@import "variables";

.active-lift-rider, .active-lift-driver, .active-lift-ratings{
  .rating-icons{
    font-size:35px;
    font-family: 'Montserrat', sans-serif;
  }
  h2{
    padding:20px 0px;
    font-size:30px;
    font-weight:lighter;
    font-family: 'Montserrat', sans-serif;
  }
  .red{
    color:$sharelift-red;
  }
  hr{
    margin:5px 10px !important;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #ccc; /* old IE */
    background-color: #ccc; /* Modern Browsers */
  }
  .lift-driver{
    border-right:1px solid #ccc;
    .driver-photo{
      img{
        width: 120px;
        height: 120px;
        overflow: hidden;
        margin-top:10px;
        border-radius: 50%;
      }
    }
  }
  .lift-rider{
    .rider-photo{
      img{
        width: 50px;
        height: 50px;
        overflow: hidden;
        margin-top:10px;
        border-radius: 50%;
      }
    }
  }
  .pickup-info{
    i{
      padding:5px;
      font-size:20px;
    }
  }
  .lift-view-vehicle-img{
    max-width:150px;
  }
}
