@import "variables";
.login {
  .login-header{
    font-family: 'Arvo', sans-serif;
    font-size:15px;
    color: $sharelift-dark-blue;
    text-align: center;
  }
  .instructions {
    margin: 50px 0;
    padding: 0 15px;
  }
  .banner-container {
    width: 100%;
    height: auto;

    .banner-image{
      width: 70%;
      margin-left: 10%;
      margin-right: 10%;
      padding-bottom: 20px;
    }
  }
  .facebook-login {
    padding-left: 10%;
    padding-right: 10%;
  }
  .error-message {
    color: $sharelift-red;
    text-align: left;
  }
}
