@import "variables";


ion-slide{
  ion-content{
      top:0 !important;
  }
}
.mfb-component__button--main, .mfb-component__button--child{
  background-color:$sharelift-dark-blue !important;
}
.selectable{ // Hopefully makes text selectable
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    -o-user-select: auto !important;
    user-select: auto !important;
}
// Splash Screen Logo
.pg-loading-screen .pg-loading-logo-header img {
  width: 55%;
  margin-top: 2em;
}

.login-screen {
  padding: 70px;
}

.current-lift {
  background-color:#cccccc;
}

// .angular-google-map-container {
//   height: 200px;
// }

.riderSide .angular-google-map-container { height: 50%; }

.driverSide .angular-google-map-container { height: 200px; }

.resort-selection{
  margin-bottom:0px !important;
}

.your-confirmed-lift{
  a{
    background-color:$sharelift-light-blue !important;
  }
  p{
    color:black !important;
    font-family: 'Montserrat', sans-serif;

  }
  hr{
    border-bottom-color:black;
    background-color: black;
  }
  .lift-time-info{
    border-left-color:black;
  }
  .list-vehicle{
    font-size:18px;
  }
}

.your-lift{
  a{
    background-color:$sharelift-dark-blue !important;
    padding-right:54px !important;
  }
  p{
    color:black !important;
    font-family: 'Montserrat', sans-serif;
  }
  hr{
    border-bottom-color:black;
    background-color: black;
  }
  .lift-time-info{
    border-left-color:black;
  }
}

.right-card-info{
  font-size:11px;
  span{
    padding:5px;
  }
}

.elapsed-text{
  font-size:10px;
  font-style:italic;
}

.notification-text-read p {
    overflow: initial;
    white-space: initial;
    color: gray;
}
.notification-text-unread p {
    overflow: initial;
    white-space: initial;
    color: black;
}

.profile-photo-cover {
  object-fit: cover;
}

.vehicle-photo-cover {
  object-fit: cover;
  max-width:150px;
}

//css for toggle switches
.toggle input:checked + .track {
  background-color:$sharelift-dark-blue;
  border-color:$sharelift-dark-blue;
}
