@import "variables";

.offer-lift{
  .item {
    padding-top: 0px;
    border-width: 0px;
  }
  ion-datetime-picker{
    margin:0px !important;
  }
  .destination-list{
    padding:0px !important;
    margin:0px !important;
  }
  .offer-lift-icon{
    font-size:22px;
    padding-right:8px;
    font-family: 'Montserrat', sans-serif;
  }
  .input-label{
    vertical-align:middle;
    padding-bottom:5px;
    font-family: 'Montserrat', sans-serif;
  }
  .hint-text{
    color:$sharelift-gray;
    font-family: 'Montserrat', sans-serif;

  }
  .date-text{
    position: absolute;
    right: 0px;
    padding:10px;
    padding-right:20px;
    font-family: 'Montserrat', sans-serif;
  }
  //For most of the input fields below each input description
  .lift-input{
    text-align: left;
    padding-left:20px;
    width: 100%; //Allows inputs to take up the whole width of the screen
  }
  .seats-input-text{
    text-align:right;
    background-color:white !important;
  }
  .inner-input{
    padding:0px !important;
  }
  .col, .row{
    padding:0px !important;
  }
}
