@import "variables";

.payment-screen{

  .payment-header {
    text-align: center;
    padding: 20px;
    font-family: 'Arvo', serif;
    color: $sharelift-dark-blue;
    font-size: 20px;
    line-height: 200%;

  }
  .trip-details-block {
    padding: 30px;
  }
  .bottom-info-bar{
    font-family: 'Arvo', serif;
    font-size: 16px;
    color: $sharelift-dark-blue;
    padding: 10px;
    text-align: center;

  }

  //payment screen classes go here:



}
