$sharelift-gray:                  #787a77;
$sharelift-yellow:                #fec345;
$sharelift-red:                   #ed6a5b;
$sharelift-light-blue:            #8dc9d3;
$sharelift-dark-blue:             #09a0c3;

//This sets the default font for all unspecified places in the app:
* {
    font-family: 'Montserrat', sans-serif;
  }

.button-dark-blue{
  background-color:$sharelift-dark-blue;
  border-color:#1F7C91;
  color:white;
}

.button-light-blue{
  background-color:$sharelift-light-blue;
  border-color:#3CAFC2;
  color:white;
}

.button-red{
  background-color:$sharelift-red;
  border-color:#AB3326;
  color:white;
}

.button-yellow{
  background-color:$sharelift-yellow;
  border-color:#C2880E;
}

.button-gray{
  background-color:$sharelift-gray;
  border-color:#5D5E5C;
  color:white;
}

.button-clear-red{
  background-color: transparent;
  border-color: gray;
  color: $sharelift-red;
}

.button-clear-blue{
  background-color: transparent;
  border-color: $sharelift-gray;
  color: $sharelift-dark-blue;
}

.text-light-blue{
  color:$sharelift-light-blue !important;
}

.text-dark-blue{
  color:$sharelift-dark-blue !important;
}

.text-gray{
  color:$sharelift-gray !important;
}

.text-yellow{
  color:$sharelift-yellow !important;
}

.text-red{
  color:$sharelift-red !important;
}

.background-light-blue{
  background-color:$sharelift-light-blue !important;
}

.background-dark-blue{
  background-color:$sharelift-dark-blue !important;
}

.background-gray{
  background-color:$sharelift-gray !important;
}

.background-yellow{
  background-color:$sharelift-yellow !important;
}

.background-red{
  background-color:$sharelift-red !important;
}
