@import "variables";

.waivers-screen{

  .waivers-error-message {
    color: $sharelift-red;
    text-align: center;
  }
  .waiver-checkbox{
    border-width: 0px;
    white-space: normal;
  }
  .waiver-rows{
    padding: 10px;
  }
  .item {
    white-space: normal;
  }




}
