<ion-view title="A little more">
  <ion-content class="login padding">

    <div class="item-text-wrap padding">
      We need the following info:
    </div>

    <label class="item item-input">
      <input type="text" ng-model="facebookData.firstName" placeholder="First Name" />
    </label>
    <label class="item item-input">
      <input type="text" ng-model="facebookData.lastName" placeholder="Last Name" />
    </label>

    <button class="button button-block" ng-click="submitFacebookData()">Next</button>

  </ion-content>
</ion-view>
