<ion-view title="Create Account">
  <ion-content class="login padding">

    <div class="item-text-wrap padding">
      Create a new account
    </div>

    <div class="error-message">{{createAccountError}}</div>

    <label class="item item-input">
      <input type="email" ng-model="credentials.username" placeholder="Email" />
    </label>
    <label class="item item-input">
      <input type="password" ng-model="credentials.password" placeholder="Password" />
    </label>


    <button class="button button-block" ng-click="doCreateAccountAction()">Create Account</button>

  </ion-content>
</ion-view>
