<ion-view title="Driver Signup">
  <ion-content class="login padding">

    <div class="item-text-wrap padding">
      We need a little extra info if you want to be a driver:
    </div>

    <img class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%" ng-show="!$root.currentUser.profile.vehicle.vehiclePicture" ng-src="/vehicle.png">
    <img class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%" ng-show="$root.currentUser.profile.vehicle.vehiclePicture" ng-src="{{ $root.currentUser.profile.vehicle.vehiclePicture }}">


    <div class = "row edit-button">
      <div class = "col text-left">
        <a ng-click="takeVehiclePhoto()">Upload Vehicle Photo </a>
        <i class="ion-camera"></i>
      </div>
    </div>




    <label class="item item-input">
      <input type="text" ng-model="driverModel.make" placeholder="Make" />
    </label>
    <label class="item item-input">
      <input type="text" ng-model="driverModel.model" placeholder="Model" />
    </label>
    <label class="item item-input">
      <input type="text" ng-model="driverModel.year" placeholder="Year" />
    </label>
    <label class="item item-input">
      <input type="number" ng-model="driverModel.seats" placeholder="Total # seats in the vehicle" />
    </label>
    <label class="item item-input">
      <input type="number" ng-model="driverModel.mpg" placeholder="Avgerage MPG" />
    </label>

    <button class="button button-block" ng-click="submit()">Signup to Drive</button>

  </ion-content>
</ion-view>
