<ion-view title="Reset Password">
  <ion-content class="login padding">

    <div class="item-text-wrap padding">
      Enter the email associated with your ShareLift account
    </div>

    <label class="item item-input">
      <input type="email" ng-model="credentials.username" placeholder="Email" />
    </label>


    <button class="button button-block button-light-blue" ng-click="sendResetEmail()">Send reset email</button>

  </ion-content>
</ion-view>
