<ion-view title="Preferences">
  <ion-content class="login padding">

    <div class="item-text-wrap padding">
      Almost there...
    </div>


    <label class="item">
      <span class="input-label"><i class="offer-lift-icon ion-map"></i>Favorite Destination</span>
      <div class="lift-input">
        <select ng-model="preferences.destinationId">
          <option value="" disabled selected>Select a resort</option>
          <!-- <option ng-value="1">#getyourassintonature photo</option> -->
          <!-- <option ng-value="2">Big Sky Resort</option> -->
          <option ng-value="3">Bridger Bowl</option>
          <option ng-value="4">Brighton Ski Resort</option>
          <!-- <option ng-value="5">Powder Mountain</option> -->
          <!-- <option ng-value="6">Snowbird</option> -->
        </select>
      </div>
    </label>

    <label class="item">
      <span class="input-label"><i class="offer-lift-icon ion-map"></i>Rider, driver, or both?</span>
      <div class="lift-input">
        <select ng-model="preferences.defaultRole">
          <option value="" disabled selected>Tap to select</option>

          <option ng-value="rider">Rider</option>
          <option ng-value="driver">Driver</option>
          <option ng-value="both">Both</option>

        </select>
      </div>
    </label>


    <button class="button button-block" ng-click="submitProfileSettings()">Next</button>

  </ion-content>
</ion-view>
