<!-- ************************************ -->
<!-- RIDER VIEW -->
<!-- ************************************ -->

<ion-view title="Lift">
  <ion-content class="lift-view" overflow-scroll="true">

<!-- /// For testing /// -->

    <!-- <div>
      <h5>State Variables:</h5>
      <p>{{isActive}}</p>
      <p>{{driverEnRoute}}</p>
      <p>{{hasArrivedAtDestination}}</p>
      <p>{{isComplete}}</p>
    </div> -->

    <!-- <div ng-controller="IndexCtrl">
      <button class="button button-block button-dark-blue" ng-click = "openPaymentModal(lift.data)" >Test payment screen</button>
    </div> -->


      <div class="lift-view-container">

        <div class="map-row riderSide">
          <div style="width:800px;max-width:100%;height:50%;">
              <div ng-if="map">
                
                  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="false" options="options">
                      <ui-gmap-markers models="points" coords="'self'" idkey="'idKey'" icon="'icon'"></ui-gmap-markers>
                  </ui-gmap-google-map>

              </div>
          </div>
        </div>

        <!-- Prints the whole rider object -->
        <!-- <div>{{lift.thisRider}}</div> -->

        <div class="trip-details-row">
          <div class="row lift-view-header">
            <div class="col col-center" ng-show="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
              Your lift - {{getLiftDay(lift.data)}}, {{getLiftMonthDay(lift.data)}}
            </div>
            <div class="col col-center" ng-hide="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
              {{getLiftDay(lift.data)}}, {{getLiftMonthDay(lift.data)}}
            </div>
          </div>

          <div ng-if="lift.data.liftDirection == 'toDestination'">
            <div class="row">
              <div class="col col-offset-10 col-10 lift-icon col-center">
                <i class="ion-ios-location"></i>
              </div>
               <div class="col col-center">

                 <div ng-show="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
                    <b>{{getPickupTime(lift.data) | timeDateFilterWithPostfix}}</b> Pickup
                 </div>
                 <div ng-hide="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
                    <b>{{lift.data.departureTime|timeDateFilterWithPostfix}} + ~10 min</b> Pickup
                 </div>

               </div>


               <div class="col col-center" ng-show="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
                 <i class="ion-home"></i> {{lift.thisRider.pickupDropoffLocation.fullAddress}}
               </div>
               <div class="col col-center" ng-hide="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
                 <i class="ion-home"></i> {{$root.findLiftInputService.pickupDropoffLocation.fullAddress}}
               </div>


            </div>

            <div class="row">
              <div class="col col-offset-10 col-10 lift-icon col-center">
                <i class="ion-map"></i>
              </div>
               <div class="col col-center">
                 <b>{{lift.data.estimatedArrivalTime | timeDateFilterWithPostfix}}</b> Arrival
               </div>
               <div class="col col-center">
                 {{getDestinationName(lift.data.destinationLocationId)}}
               </div>
            </div>
          </div>

          <div ng-if="lift.data.liftDirection == 'fromDestination'">
            <div class="row">
              <div class="col col-offset-10 col-10 lift-icon col-center">
                <i class="ion-ios-location"></i>
              </div>
               <div class="col col-center">
                 <b>{{lift.data.departureTime|timeDateFilterWithPostfix}}</b> Departure
               </div>
               <div class="col col-center">
                 {{getDestinationName(lift.data.destinationLocationId)}}
               </div>
            </div>

            <div class="row">
              <div class="col col-offset-10 col-10 lift-icon col-center">
                <i class="ion-map"></i>
              </div>
               <div class="col col-center">

                 <div ng-show="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
                  <b>{{getDropoffTime(lift.data) | timeDateFilterWithPostfix}}</b> Arrival
                 </div>
                 <div ng-hide="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
                    <b>time unknown</b> Dropoff
                 </div>


               </div>
               <div class="col col-center">
                  <i class="ion-home"></i> {{$root.findLiftInputService.pickupDropoffLocation.fullAddress}}
               </div>
            </div>
          </div>



          <hr>
        </div>


        <div class="driver-details-row">
          <div class="row">
            <div class="col col-center lift-view-vehicle">
              <img class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%" ng-src="{{getDriverVehiclePhoto(lift.data.driverId)}}">
              <div class="lift-view-vehicle-blurb">
                {{getDriverVehicleInfo(lift.data.driverId)}}
              </div>
            </div>
            <div class="col col-center lift-view-driver">
              <a href="#/profile/{{lift.data.driverId}}"><img ng-src={{getProfilePicture(lift.data.driverId)}} class="profile-photo-cover" width="100" height="100" style="border-radius:50%"></a>
              <div class="lift-view-vehicle-blurb">
                {{lift.data.driverName | profileName}}
              </div>
            </div>

          </div>


          <!-- Keep this? -->
          <!-- <div class="confirmed-riders row">
            <div ng-repeat="rider in lift.data.confirmedRiders track by $index" class="col">
                <div class = "row">
                  <div class = "col text-center">
                    <a href="#/profile/{{rider.userId}}"><img ng-src={{rider|riderPhotoFilter}} class="profile-photo-cover confirmed-rider-profile-img"></a>
                  </div>
                </div>
                <div class = "row">
                  <div class = "col confirmed-rider-name text-center">
                    {{rider.userName}}

                  </div>
                </div>

            </div>
            <div class = "col" ng-show="!isInThisLift && liftHasEmptySeats(lift.data)">
              <div class = "row">
                <div class = "col text-center">
                  <img ng-src="/potential_user.png" class="open-seat-profile-img">
                </div>
              </div>
              <div class = "row">
                <div class = "col open-seat-name text-center">
                  +You
                </div>
              </div>
            </div>
          </div> -->

        </div>

        <div class="buttons-row">
          <div class="button-bar" ng-show="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
            <!-- <a class="button icon-center ion-person-add button-full button-clear-red" ng-click=""></a> -->
            <a ng-click="openContactDriverActionSheet(lift.data.driverPhone)" class="button icon-center button-full ion-android-call button-clear-blue"></a>
            <a class="button icon-center ion-close-round button-full button-clear-red" ng-click="cancelRider(lift.data)"></a>
          </div>
          <button class="button button-block button-dark-blue"  ng-show="isLiftRequestable()" ng-click="lift.requestLift()" ng-hide="requestLiftButtonDisabled"> <!---->
            <span ng-show="requestLiftButtonDisabled==false">Request Lift</span><span ng-show="requestLiftButtonDisabled">Request Pending</span>
          </button>

          <button class="button button-block button-red" ng-show="liftIsUnrequestable || isLiftUnrequestable(lift.data)" ng-click="cancelRequest(lift)">
            Cancel request
          </button>
        </div>

        <div ng-show="$root.stateService.liftIsInPastWithoutRiders(lift.data)">This lift has already departed</div>

      </div>

      <!-- <div class="row">
        <div class="col" ng-show="lift.data.destinationLocationId == 1">
          <p>Meetup coordinates: <b>45.6321389,-111.5438611</b></p>
        </div>
        <div class="col" ng-show="lift.data.destinationLocationId == 1">
          <a href="https://maps.google.com/?q=45.6321389,-111.5438611">
            <div ng-show="lift.data.destinationLocationId == 1">Open in Google Maps</div>
          </a>
          <a href="http://maps.apple.com/?daddr=45.6321389,-111.5438611">
            <div ng-show="lift.data.destinationLocationId == 1">Open in Apple Maps</div>
          </a>
        </div>
      </div> -->

  </ion-content>
</ion-view>
