<!-- ************************************ -->
<!-- DRIVER VIEW -->
<!-- ************************************ -->

<ion-view title="Lift">
  <ion-content class="lift-view" overflow-scroll="true">

<!-- /// For testing /// -->
    <!-- <div>
      <h5>State Variables:</h5>
      <p>{{isActive}}</p>
      <p>{{driverEnRoute}}</p>
      <p>{{hasArrivedAtDestination}}</p>
      <p>{{isComplete}}</p>
    </div> -->

    <!-- <div ng-controller="IndexCtrl">
      <button class="button button-block button-dark-blue" ng-click = "openPaymentModal(lift.data)" >Test payment screen</button>
    </div> -->

    <!-- HEADER BAR -->

      <!-- if no confirmed passengers -->
      <div class="no-confirmed-passengers" ng-hide="liftHasConfirmedRiders(lift.data)">
        <div ng-if="lift.data.liftDirection == 'toDestination'">
          Your lift to <b>{{getDestinationName(lift.data.destinationLocationId)}}</b> for <b>{{getLiftDay(lift.data)}}, {{getLiftMonthDay(lift.data)}}</b>
        </div>
        <div ng-if="lift.data.liftDirection == 'fromDestination'">
          Your lift from <b>{{getDestinationName(lift.data.destinationLocationId)}}</b> for <b>{{getLiftDay(lift.data)}}, {{getLiftMonthDay(lift.data)}}</b>
        </div>
      </div>

      <!-- if has confirmed passengers but not active -->
      <div class="confirmed-lift" ng-show="liftHasConfirmedRiders(lift.data) && !driverEnRoute && !hasArrivedAtDestination">
        <!-- If toDestination: -->
        <div ng-if="lift.data.liftDirection == 'toDestination'">
          Your lift to <b>{{getDestinationName(lift.data.destinationLocationId)}}</b> for <b>{{getLiftDay(lift.data)}}, {{getLiftMonthDay(lift.data)}}</b>
        </div>
        <div ng-if="lift.data.liftDirection == 'fromDestination'">
          Your lift from <b>{{getDestinationName(lift.data.destinationLocationId)}}</b> for <b>{{getLiftDay(lift.data)}}, {{getLiftMonthDay(lift.data)}}</b>
        </div>
      </div>


      <!-- if active lift -->
      <div class="alert-bar active-lift" ng-show="liftHasConfirmedRiders(lift.data) && driverEnRoute && !hasArrivedAtDestination">
        <!-- If toDestination: -->
        <p ng-if="lift.data.liftDirection == 'toDestination'">
          Your lift to <b>{{getDestinationName(lift.data.destinationLocationId)}}</b> - HAPPENING NOW
        </p>
        <p ng-if="lift.data.liftDirection == 'fromDestination'">
          Your lift from <b>{{getDestinationName(lift.data.destinationLocationId)}}</b> - HAPPENING NOW
        </p>

      </div>

      <div class="row" ng-show="liftHasConfirmedRiders(lift.data) && driverEnRoute && !hasArrivedAtDestination">
        <div class="col">
          {{getLiftDay(lift.data)}}, {{getLiftMonthDay(lift.data)}}
        </div>
        <hr>
      </div>

      <!-- Lift Requests -->
      <div class="potential-riders" ng-if="!driverEnRoute && !hasArrivedAtDestination">
        <div class="row">
          <div class="col lift-heading">
            <h6>Lift Requests - You have {{lift.data.seats - lift.data.confirmedRiders.length}} seats available</h6>
          </div>
        </div>
        <div ng-if="liftHasPotentialRiders(lift.data)">
          <div ng-repeat="rider in lift.data.potentialRiders"
            class="item lift-request-card">
            <div class = "row">
              <div class="col col-25 col-center">
                  <a href = "#/profile/{{rider.userId}}"><img ng-src={{getProfilePicture(rider.userId)}} class="profile-photo-cover potential-rider-profile-img"></a>
              </div>
              <div class = "col col-50 col-center">
                <div class="row">
                  <div class="col potential-rider-name">
                    {{rider.userName | profileName}}
                  </div>
                </div>
                <div class="row">
                  <div class="col rider-address">
                    {{rider.pickupDropoffLocation.fullAddress}}
                  </div>
                </div>
                <div class="row">
                  <div class="col potential-pickup-time">
                    <!-- Pickup time here: {{rider.pickupTime}} -->
                  </div>
                </div>
              </div>
              <div class = "col col-25 confirm-deny-icons col-center">
                <i ng-click="lift.confirmRider(rider)" class="ion-ios-checkmark-outline text-dark-blue"></i>
                <i ng-click="lift.denyRider(rider)" class="ion-ios-close-outline text-red"></i>
              </div>
            </div>
          </div>
        </div>

        <!-- IF NO REQUESTS -->
        <div ng-if="!liftHasPotentialRiders(lift.data)">
          <div>There are no requests for this lift at the moment</div>
          <hr>
        </div>
      </div>











      <!-- FOR UNIQUE DESTINATIONS / EVENTS: -->
      <!-- <div class="row">
        <div class="col" ng-show="lift.data.destinationLocationId == 1">
          <p>Meetup coordinates: <b>45.6321389,-111.5438611</b></p>
        </div>
        <div class="col" ng-show="lift.data.destinationLocationId == 1">
          <a href="https://maps.google.com/?q=45.6321389,-111.5438611">
            <div ng-show="lift.data.destinationLocationId == 1">Open in Google Maps</div>
          </a>
          <a href="http://maps.apple.com/?daddr=45.6321389,-111.5438611">
            <div ng-show="lift.data.destinationLocationId == 1">Open in Apple Maps</div>
          </a>
        </div>
      </div> -->


      <!-- <div class="row">
        <div class="col lift-heading">
          <h5>Departure</h5>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-10 col-10 lift-icon col-center">
          <i class="ion-clock"></i>
        </div>
        <div class="col col-center">
          Leave by <b>{{lift.data.departureTime|timeDateFilterWithPostfix}}</b>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-10 col-10 lift-icon col-center">
          <i class="ion-location"></i>
        </div>
        <div class="col col-center">
          <b>{{lift.data.startEndLocation.fullAddress}}</b> to <b>{{getDestinationName(lift.data.destinationLocationId)}}</b>

          {{printOut(lift)}}
        </div>
      </div>
      <hr> -->

<!-- Commented out for now... need to figure out UI for return lift display  -->
      <!-- <div class="row">
        <div class="col lift-heading">
          <h5>Return</h5>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-10 col-10 lift-icon col-center">
          <i class="ion-clock"></i>
        </div>
        <div class="col col-center">
            Meet for return at <b>{{lift.data.returnTime|timeDateFilterWithPostfix}}</b>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-10 col-10 lift-icon col-center">
          <i class="ion-location"></i>
        </div>
        <div class="col col-center">
          <b>{{getDestinationName(lift.data.destinationLocationId)}}</b> to <b>{{lift.data.startEndLocation.fullAddress}}</b>
        </div>
      </div>

      <hr> -->

      <!-- TRIP DETAILS -->
      <div class="row">
        <div class="col lift-heading">
          <h4>Trip Details</h4>
        </div>
      </div>


      <div class="map-row driverSide">
          <div style="width:800px;max-width:100%;height:200px;">
              <div ng-if="map">
                
                  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="false" options="options">
                      <ui-gmap-markers models="points" coords="'self'" idkey="'idKey'" icon="'icon'"></ui-gmap-markers>
                  </ui-gmap-google-map>

              </div>
          </div>
        </div>



      <div class="row">
        <div class="col trip-details-level1">
          Leave  <b>{{lift.data.departureTime|timeDateFilterWithPostfix}}</b>
        </div>
      </div>
      <div class="row">
        <div class="col trip-details-level2" ng-if="lift.data.liftDirection == 'toDestination'">
          {{lift.data.startEndLocation.fullAddress}}
        </div>
        <div class="col trip-details-level2" ng-if="lift.data.liftDirection == 'fromDestination'">
          {{getDestinationName(lift.data.destinationLocationId)}}
        </div>
      </div>

      <div ng-repeat="rider in lift.data.confirmedRiders"
        class="">
        <div class = "row confirmed-riders">
          <div class="col col-10 col-top">
              <!-- <a href = "#/profile/{{rider.userId}}"><img ng-src={{getProfilePicture(rider.userId)}} class="profile-photo-cover potential-rider-profile-img"></a> -->
              <a href = "#/profile/{{rider.userId}}">
                <img class="profile-photo-cover" width="30" height="30" style="border-radius:50%" ng-src={{getProfilePicture(rider.userId)}}>
              </a>

          </div>
          <div class = "col col-top">
            <div class="row">
              <div class="col" ng-if="lift.data.liftDirection == 'toDestination'">
                Pickup {{rider.userName | profileName}}
              </div>
              <div class="col" ng-if="lift.data.liftDirection == 'fromDestination'">
                Dropoff {{rider.userName | profileName}}
              </div>
            </div>
            <div class="row">
              <div class="col potential-pickup-time">
                <span class = "selectable">{{rider.pickupDropoffLocation.fullAddress}}</span><br><span class="rider-phone-number selectable">{{rider.user.profile.phone | formatPhoneFilter}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <!-- <a href="https://maps.google.com/?q={{rider.pickupDropoffLocation.lat}},{{rider.pickupDropoffLocation.long}}">
                  <div class="button button-clear button-dark-blue"> <i class="ion-map"></i> Open in Google Maps</div>
                </a> -->
                <a href="{{getGoogleRedirectURL(rider.pickupDropoffLocation.fullAddress)}}">
                  <div class="button button-clear button-dark-blue"> <i class="ion-map"></i> Open in Google Maps</div>
                </a>
              </div>
            </div>

            <div class="row" ng-show="driverEnRoute || hasArrivedAtDestination">
              <div class="col" ng-if="lift.data.liftDirection == 'toDestination'">
                <div ng-if="rider.pickupDropOffConfirmed == false">
                  <button ng-click="confirmRiderPickup(lift.data, rider)" class="button button-dark-blue">Tell rider I'm here!</button>
                </div>
                <div ng-if="rider.pickupDropOffConfirmed == true">
                  <button ng-click="" class="button button-dark-blue button-outline">Pickup Confirmed</button>
                </div>
              </div>

              <div class="col" ng-if="lift.data.liftDirection == 'fromDestination'">
                <div ng-if="rider.pickupDropOffConfirmed == false">
                  <button ng-click="confirmRiderDropOff(lift.data._id, rider)" class="button button-dark-blue">Confirm Dropoff</button>
                </div>
                <div ng-if="rider.pickupDropOffConfirmed == true">
                  <button ng-click="" class="button button-dark-blue button-outline">Dropoff Confirmed</button>
                </div>
              </div>
            </div>

          </div>
          <div class = "col col-10 confirm-deny-icons col-top" >
            <a ng-click="openContactRiderActionSheet(rider.phone)" class="call-rider"><i class="ion-android-call text-dark-blue"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col trip-details-level1">
          Arrival  <b>{{lift.data.estimatedArrivalTime | timeDateFilterWithPostfix}}</b> (approx)
        </div>
      </div>
      <div class="row">
        <div class="col trip-details-level2" ng-if="lift.data.liftDirection == 'toDestination'">
          {{getDestinationName(lift.data.destinationLocationId)}}
        </div>
        <div class="col trip-details-level2" ng-if="lift.data.liftDirection == 'fromDestination'">
          {{lift.data.startEndLocation.fullAddress}}
        </div>
      </div>






      <!-- Confirmed riders -->
      <!-- <div class="row">
        <div class="col lift-heading">
          <h4>Confirmed Riders</h4>
        </div>
      </div>

      <div class = "col" ng-show="liftHasNoRiders(lift.data)">
        <div class = "row">
          <div class = "col text-center">
            <a href="#/profile/{{rider.userId}}"><img ng-src="/potential_user.png" class="open-seat-profile-img"></a>
          </div>
        </div>
        <div class = "row">
          <div class = "col confirmed-rider-name text-center">
            No riders yet
          </div>
        </div>
      </div>

      <div ng-repeat="rider in lift.data.confirmedRiders"
        class="item-chat item-remove-animate item">
        <div class = "row">
          <div class="col col-25 col-center">
              <a href = "#/profile/{{rider.userId}}"><img ng-src={{getProfilePicture(rider.userId)}} class="profile-photo-cover potential-rider-profile-img"></a>
          </div>
          <div class = "col col-50">
            <div class="row">
              <div class="col potential-rider-name">
                {{rider.userName}}
              </div>
            </div>
            <div class="row">
              <div class="col potential-pickup-time">
                <span class = "selectable">{{rider.pickupDropoffLocation.fullAddress}}</span><br><span class="rider-phone-number selectable">{{rider.user.profile.phone | formatPhoneFilter}}</span>
              </div>
            </div>
          </div>
          <div class = "col col-25 confirm-deny-icons col-center" >
            <a ng-click="openContactRiderActionSheet(rider.user.profile.phone)" class="call-rider"><i class="ion-android-call text-dark-blue"></i></a>
          </div>
        </div>
      </div>

      <hr ng-show="liftHasPotentialRiders(lift.data) && liftHasNoRiders(lift.data)"> -->


      <div class="row">

        <div class="col" ng-hide="isComplete">
          <button class="button button-block button-red" ng-click = "deleteLiftButton(lift.data)" >Delete Lift</button>
        </div>

        <div class="col" ng-show="liftHasConfirmedRiders(lift.data) && !driverEnRoute && !hasArrivedAtDestination">
          <button class="button button-block button-yellow" ng-click = "startLiftCheckpoint()" >Start Lift</button>
        </div>

        <div class="col" ng-show="driverEnRoute && !hasArrivedAtDestination">
          <button class="button button-block button-dark-blue" ng-click = "arrivedAtDestinationCheckpoint()" >End Lift</button>
        </div>

      </div>


  </ion-content>
</ion-view>
