<ion-view title="Login User" hide-nav-bar="true">
  <ion-content class="login padding">

    <div class="row">
      <div class="col text-center login-header">
        Welcome to
      </div>
    </div>

    <div class="banner-container">
      <img ng-src="/2016Wide.png" class="banner-image">
    </div>


    <button id="facebook-login" class="button button-block button-dark-blue" ng-click="fbLogin()"> Login with Facebook</button>





      <div class="item-text-wrap padding">
        Enter User Name and Password to Login to Application
      </div>

      <div class="error-message">{{loginErrorMessage}}</div>

      <label class="item item-input">
        <input type="email" ng-model="credentials.username" placeholder="Email" />
      </label>
      <label class="item item-input">
        <input type="password" ng-model="credentials.password" placeholder="Password" />
      </label>


      <div class="padding">
        <button class="button button-block" ng-click="doLoginAction()">Login</button>
        <button class="button button-block" ng-click="goToCreateAccount()">Create Account</button>
        <button class="button button-block button-red" ng-click="goToForgotPassword()">Forgot password?</button>
      </div>

  </ion-content>
</ion-view>
