<!-- main.html contains the three main slide-views: lift, profile, notifications -->
<!--<ion-view title={{navTitle}} hide-back-button=true>-->

  <!-- If not logged in, show login screen only -->
  <!-- <div ng-hide="$root.currentUser || $root.loggingIn">
    <div class="login-screen">
      <div class="row">
        <div class="col text-center">
          <h2>Welcome to Sharelift!</h2>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h5>A little blurb about why we require Facebook login, perhaps? </h5>
        </div>
      </div>
      <div class="span7 text-center">
        <button id="facebook-login" class="button button-dark-blue" ng-click="fbLogin()"> Login with Facebook</button>
      </div>
    </div>
  </div> -->

  <!-- If logged in, show the slide box -->
  <!-- <div ng-show="$root.currentUser || $root.loggingIn"> -->
    <!--<ion-slide-box show-pager="true" class="has-header"
                   style="position:absolute; bottom: 0;left: 0;right: 0; "
                   on-slide-changed="slideHasChanged($index)" active-slide="activeSlide">
        <ion-slide>-->
          <!-- dat profile life -->
          <!--<ng-include src="'client/templates/partials/profile.html'"></ng-include>
        </ion-slide>

        <ion-slide>-->
          <!-- list of lifts and your current lift -->
          <!--<ng-include src="'client/templates/partials/slide1.html'"></ng-include>
        </ion-slide>

        <ion-slide>-->
          <!-- notificationes -->
          <!--<ng-include src="'client/templates/partials/notifications.html'"></ng-include>
        </ion-slide>
    </ion-slide-box>-->

  <!-- </div> -->

  <ion-tabs class="tabs-striped tabs-color-assertive" style="position:absolute; bottom: 0;left: 0;right: 0;">

        <ion-tab title="Ride" icon="ion-location" href="#/index/ride">
          <ion-nav-view name="ride-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="My Lifts" icon="ion-map" href="#/index/myLifts">
          <ion-nav-view name="my-lifts-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Drive" icon="ion-model-s" ui-sref="Main.drive">
          <ion-nav-view name="drive-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>


 <!--</ion-view>-->
