<ion-modal-view>
  <ion-header-bar>
    <h1 class = "title">Notifications</h1><a class="button button-clear button-dark icon ion-chevron-down" ng-click = "closeNotifModal()"></a>
  </ion-header-bar>
<ion-content overflow-scroll='true' >
  <div class="box" ng-controller="MainCtrl">
    <div ng-show="main.notificationListView.length == 0" class="no-notifs">
      <div class="row">
        <div class="col text-center">
          <h2>No notifications! <br> Have a nice day.</h2>
        </div>
      </div>
    </div>
   <div ng-show="$root.currentUser" class="notifications">
     <ion-list class="wrapping-list">
       <ion-item
          ng-repeat="notif in main.notificationListView | orderBy:'-date' | filter:{dismissed:false}"
          on-hold="dismissNotif(notif)"
          class="item-chat item-remove-animate  notification-item"
          type="item-text-wrap"
          ng-class="{unread: !notif.read}"
          href="{{getLiftUrl(notif)}}"
          ng-click="markNotifRead(notif)">
          <div class="row">
            <div class="col col-20 col-center">
              <i class="notification-item-icon" ng-class="getNotifIcon(notif)"></i>
            </div>
            <!-- <div class="col col-67 col-center notification-text">
              <p>{{notif | notificationText}}</p>
            </div> -->
            <div class="col col-67 col-center" ng-class="getNotifTextStyle(notif)">
              <p>{{notif | notificationText}}</p>
            </div>
            <div class="col col-10 col-center elapsed-text">
              {{getNotifTimeElapsed(notif)}} ago<br>Hold to dismiss
            </div>
          </div>
      </ion-item>
    </ion-list>
  </div>
</div>
</ion-content>
</ion-modal-view>
