<ion-modal-view>
  <ion-header-bar>
    <h1 class = "title">Pay your driver</h1>
  </ion-header-bar>

  <ion-content class="payment-screen">
    <!-- attach all variables to paymentModel - it's what connects the controller to this view -->
    <form name="paymentForm" novalidate="" ng-submit="submitPayment(paymentForm, paymentModel)">

      <div class="payment-header">
        Help {{thisLift.driverName | profileName}} out by contributing some gas money
      </div>


      <!-- Display the driver photo -->
      <div class = "row">
        <div class = "col text-center">

          <!-- Turn getProfilePicture into a SERVICE, rather than have it be in main.controller.js -->
            <img class="profile-photo-cover" width="100" height="100" style="border-radius:50%" ng-src="/lift_profile.png">
        </div>
      </div>

      <div class="trip-details-block">
        <div class="row">
          <div class="col">Trip distance</div>
          <div class="col">~ 20 miles</div>
        </div>
        <!-- <div class="row">
          <div class="col">CO2 savings</div>
          <div class="col">4 trees</div>
        </div> -->
        <div class="row">
          <div class="col">Estimated cost for driver</div>
          <div class="col">~ $10.00</div>
        </div>
        <!-- <div class="row">
          <div class="col">ShareLift passenger rate/mile</div>
          <div class="col">$0.25 / mile</div>
        </div> -->
        <div class="row">
          <div class="col">Your recommended contribution:</div>
          <div class="col"><b>$4.00</b></div>
        </div>

      </div>


      <div class="bottom-info-bar">In-app payments coming soon!</div>



<!-- If we want to have payment options: -->
        <!-- <div class="button-bar">
          <a class="button">Pay $__ </a>
          <a class="button button-outline">Second</a>
          <a class="button button-outline">Third</a>
        </div> -->



      <div class="button-bar">
        <!-- <a class="button icon-left button-full ion-close-circled button-outline" ng-click="closePaymentModal()">Don't Pay</a> -->
        <button class="button icon-left ion-checkmark-circled button-full button-dark-blue" type="submit">Okay</button>
      </div>

    </form>

  </ion-content>
</ion-modal-view>
