<ion-view title="Add Phone Number">
  <ion-content class="phone-input padding">

    <div class="item-text-wrap padding">
      Add your phone number
    </div>


    <label class="item item-input">
     <input type="tel" placeholder="Ex: 123-456-7891" class="" ng-model="phoneModel.phoneNumber">
   </label>

   <div class="row">
     <div class="col">
      Can members of the ShareLift team (Sam, Aidan, Lara, Garrett, etc) use this number to contact you in order to get your feedback? :)
     </div>
   </div>

    <ion-checkbox ng-model="phoneModel.allowContact" ng-change="toggleAllowContact()" class="allow-contact-checkbox">{{phoneModel.allowContactText}}</ion-checkbox>



    <div class="phone-error-message">{{phoneModel.phoneErrorMessage}}</div>

    <div class="padding">
      <button class="button button-block button button-light-blue" ng-click="submitPhoneNumber()">Confirm Phone Number</button>
    </div>

  </ion-content>
</ion-view>
