<ion-view title="Profile">
  <ion-content>
    <!--
    <p>Name: {{profile.data.profile.facebook.name}}</p>
    <p>Address: {{profile.data.profile.address}}</p>
    <p>Car: {{profile.data.profile.vehicle.make}} {{profile.data.profile.vehicle.model}}</p>
    <p>{{profile}}</p>
    <p>Photo: {{profile.data.profile.profilePicture}}</p>
    -->
    <div class="profile">

      <div class = "profile-header">
       <div class = "row">
         <div class = "col text-center">
           <img ng-src="{{profile.data.profile.profilePicture}}" class="profile-photo-cover" width="100" height="100" style="border-radius:50%">
         </div>
       </div>

       <div class ="row">
         <div class ="col text-center profile-name">
           {{printOut(profile.data)}}
           <h2>{{profile.data.services.facebook.first_name}}</h2>
         </div>
       </div>
     </div>
     <!--
      <div class = "row">
        <div class="col profile-bio">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    -->
    <div class = "row">
      <div class = "col profile-heading">
        <h4> Vehicle Info </h4>
      </div>
    </div>
    <div class = "row">
      <div class = "col text-center">
        <img ng-show="{{profile.data.profile.vehicle.vehiclePicture}}" ng-src="{{profile.data.profile.vehicle.vehiclePicture}}" class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%">
        <img ng-show="{{!profile.data.profile.vehicle.vehiclePicture}}" ng-src="/vehicle.png" class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%">

      </div>
      <div class = "col col-center">
        <div class = "row">
          <div class = "col lift-view-vehicle-header">
            {{profile.data.profile.vehicle.year}} {{profile.data.profile.vehicle.make}} {{profile.data.profile.vehicle.model}}
          </div>
        </div>
        <!-- Wea aren't doing vehicle seats right now.
        <div class = "row">
          <div class = "col lift-view-vehicle-blurb">
            {{profile.data.profile.vehicle.seats}}  seats
          </div>
        </div>
      -->
      </div>
    </div>


<!-- Ratings
    <hr>

      <div class = "row">
        <div class = "col profile-heading">
          <h4> Passenger Ratings </h4>
        </div>
      </div>
      <div class = "row">
        <div class = "col profile-rating-category text-right">
          Timliness
        </div>
        <div class = "col profile-rating-score">
          N/A
        </div>
      </div>
      <div class = "row">
        <div class = "col profile-rating-category text-right">
          Safety
        </div>
        <div class = "col profile-rating-score">
          N/A
        </div>
      </div>
      <div class = "row">
        <div class = "col profile-rating-category text-right">
          Overall Experience
        </div>
        <div class = "col profile-rating-score">
          N/A
        </div>
      </div>
        <hr>
      <div class = "row">
        <div class = "col profile-heading">
          <h4> Driver Ratings </h4>
        </div>
      </div>
      <div class = "row">
        <div class = "col profile-rating-category text-right">
          Timliness
        </div>
        <div class = "col profile-rating-score">
          N/A
        </div>
      </div>
      <div class = "row">
        <div class = "col profile-rating-category text-right">
          Safety
        </div>
        <div class = "col profile-rating-score">
          N/A
        </div>
      </div>
      <div class = "row">
        <div class = "col profile-rating-category text-right">
          Overall Experience
        </div>
        <div class = "col profile-rating-score">
          N/A
        </div>
      </div>

    -->
    </div>
  </ion-content>
</ion-view>
