<ion-modal-view>
  <ion-header-bar>
    <h1 class = "title">Driver review</h1>
  </ion-header-bar>

  <ion-content>
    <div class="modal-header">
      <h4>The Customer Name is: {{ customer.name }}</h4>
    </div>
    <div class="modal-body">
      This is where the Customer Details Goes<br />
      {{ customer.details }}
    </div>
    <div class="modal-footer">

    </div>
  </ion-content>
</ion-modal-view>
