<ion-modal-view>
  <ion-header-bar>
    <h1 class = "title">Profile</h1><a class="button button-clear button-dark icon ion-chevron-down" ng-click = "closeProfileModal()"></a>
  </ion-header-bar>
<ion-content >
  <div class="box profile" ng-controller="MainCtrl">
    <div ng-hide="$root.currentUser || $root.loggingIn">
      <div class="row">
        <div class="col text-center profile-name">
          <h2>Hey, you're not logged in. Go ahead and do that. It'll make everything better.</h2>
        </div>
      </div>
      <div class="span7 text-center">
        <button id="facebook-login" class="button button-dark-blue" ng-click="fbLogin()"> Login with Facebook</button>
      </div>
    </div>



   <div ng-show="$root.currentUser || $root.loggingIn">
     <div class = "profile-header">
      <div class = "row">
        <div class = "col text-center">

          <!-- <img class = "profile-picture" ng-src="{{ $root.currentUser.profile.profilePicture }}"> -->
            <img class="profile-photo-cover" width="100" height="100" style="border-radius:50%" ng-src="{{ $root.currentUser.profile.profilePicture }}">


        </div>
      </div>

<!-- For now, just pulling from FB photo -->
      <!-- <div class = "row">
        <div class = "col text-center edit-button">
          <a ng-click="takeProfilePhoto()">Upload Profile Photo</a>
          <i class="ion-camera"></i>
        </div>
      </div> -->

<!-- For testing: -->


      <!-- <div class = "row">
        <div class = "col text-center edit-button">
          <a ng-click="uploadProfilePhoto()">Upload Profile Photo TEST</a>
          <i class="ion-camera"></i>
        </div>
      </div> -->




      <!-- <div class="row">
        <button class="button button-dark-blue" ng-click="uploadProfilePhoto()">Upload Photo</button>
        <img ng-src="{{imageData}}">
      </div> -->

      <div class ="row">
        <div class ="col text-center profile-name">
          <h2 class="selectable">{{$root.currentUser.services.facebook.name | profileName}}</h2>
        </div>
      </div>
    </div>



    <!-- No bio for now.
     <div class = "row">
       <div class="col profile-bio">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
       </div>
     </div>
   -->
     <div class = "row">
       <div class = "col profile-heading col-90">
         <h4> Phone Number </h4>
       </div>
     </div>
     <div class = "row">
       <div class = "col profile-phone-icon col-10 col-offset-10 col-center text-right">
         <i class="ion-android-call"></i>
       </div>
       <div class = "col profile-phone" >
         <div ng-hide = "editPhoneActive" ng-click="checkEditPhone()">
           <span ng-bind="phoneInput.number()"></span>
           <span ng-show="userHasPhoneNumber($root.currentUser._id)==false" class="profile-input-text">Phone Number</span>
         </div>
         <div ng-show="editPhoneActive">
           <label class="item item-input">
            <input type="tel" placeholder="Enter phone number" id="edit-phone-text-field" class="profile-edit-box" ng-model="phoneInput.number" ng-model-options="{ getterSetter: true }" ng-blur="savePhone()" >
          </label>
         </div>
       </div>


     </div>

     <hr>

     <div class = "row">
       <div class = "col profile-heading col-90">
         <h4> Vehicle info </h4>
       </div>
     </div>
     <div class = "row">
       <div class = "col text-center">
         <!-- If the user has no vehicle picture, display the default vehicle outline.
         Otherwise display their vehicle picture -->
          <!-- class="lift-view-vehicle-img" -->
         <img class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%" ng-show="!$root.currentUser.profile.vehicle.vehiclePicture" ng-src="/vehicle.png">
         <img class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%" ng-show="$root.currentUser.profile.vehicle.vehiclePicture" ng-src="{{ $root.currentUser.profile.vehicle.vehiclePicture }}">
       </div>
       <div class = "col col-center">


         <div class = "row" ng-click="checkEditVehicle('vehicle-make-input-field')">
           <div class = "col profile-phone" >
             <div ng-hide = "editVehicleActive">
               <span ng-bind="vehicleInput.make()"></span>
               <span ng-show="userHasVehicleMake($root.currentUser._id)==false" class="profile-input-text">Make</span>
             </div>
             <div ng-show="editVehicleActive">
               <label class="item item-input">
                <input type="text" placeholder="Make" id="vehicle-make-input-field" class="profile-edit-box" ng-model="vehicleInput.make" ng-blur="checkSaveVehicle()" ng-model-options="{ getterSetter: true }" >
              </label>
             </div>
           </div>
         </div>


         <div class = "row" ng-click="checkEditVehicle('vehicle-model-input-field')" >
           <div class = "col profile-phone" >
             <div ng-hide = "editVehicleActive">
               <span ng-bind="vehicleInput.model()"></span>
               <span ng-show="userHasVehicleModel($root.currentUser._id)==false" class="profile-input-text">Model</span>
             </div>

             <div ng-show="editVehicleActive">
               <label class="item item-input">
                <input type="text" placeholder="Model" id="vehicle-model-input-field" class="profile-edit-box" ng-model="vehicleInput.model" ng-blur="checkSaveVehicle()" ng-model-options="{ getterSetter: true }" >
              </label>
             </div>
           </div>
         </div>


         <div class = "row" ng-click="checkEditVehicle('vehicle-year-input-field')">
           <div class = "col profile-phone" >
             <div ng-hide = "editVehicleActive">
               <span ng-bind="vehicleInput.year()"></span>
               <span ng-show="userHasVehicleYear($root.currentUser._id)==false" class="profile-input-text">Year</span>
             </div>

             <div ng-show="editVehicleActive">
               <label class="item item-input">
                <input type="text" placeholder="Year" id="vehicle-year-input-field" class="profile-edit-box" ng-model="vehicleInput.year" ng-blur="checkSaveVehicle()" ng-model-options="{ getterSetter: true }" >
              </label>
             </div>
           </div>
         </div>

<!--
         <div class = "row"  ng-click="checkEditVehicle('vehicle-seats-input-field')">
           <div class = "col editVehicleActive-phone">
             <div ng-hide = "editVehicleActive">
               <span ng-bind="vehicleInput.seats()"></span>
               <span ng-show="userHasVehicleSeats($root.currentUser._id)==false" class="profile-input-text">Seats</span>
             </div>

             <div ng-show="editVehicleActive">
               <label class="item item-input">
                <input type="text" placeholder="Seats" id="vehicle-seats-input-field" class="profile-edit-box" ng-model="vehicleInput.seats" ng-blur="checkSaveVehicle()" ng-model-options="{ getterSetter: true }" >
              </label>
             </div>
           </div>
         </div>
-->


       </div>
     </div>

     <div class = "row edit-button">
       <div class = "col text-left">
         <a ng-click="takeVehiclePhoto()">Upload Vehicle Photo </a>
         <i class="ion-camera"></i>
       </div>
     </div>




     <!-- Ratings

     <hr>
     <div class = "row">
       <div class = "col profile-heading">
         <h4> Passenger Ratings </h4>
       </div>
     </div>
     <div class = "row">
       <div class = "col profile-rating-category text-right">
         Timeliness
       </div>
       <div class = "col profile-rating-score">
         N/A
       </div>
     </div>
     <div class = "row">
       <div class = "col profile-rating-category text-right">
         Safety
       </div>
       <div class = "col profile-rating-score">
         N/A
       </div>
     </div>
     <div class = "row">
       <div class = "col profile-rating-category text-right">
         Overall Experience
       </div>
       <div class = "col profile-rating-score">
         N/A
       </div>
     </div>
       <hr>
     <div class = "row">
       <div class = "col profile-heading">
         <h4> Driver Ratings </h4>
       </div>
     </div>
     <div class = "row">
       <div class = "col profile-rating-category text-right">
         Timeliness
       </div>
       <div class = "col profile-rating-score">
         N/A
       </div>
     </div>
     <div class = "row">
       <div class = "col profile-rating-category text-right">
         Safety
       </div>
       <div class = "col profile-rating-score">
         N/A
       </div>
     </div>
     <div class = "row">
       <div class = "col profile-rating-category text-right">
         Overall Experience
       </div>
       <div class = "col profile-rating-score">
         N/A
       </div>
     </div>

   -->

    <!-- Logout Button -->
       <div class="span7 text-center">
         <button id="facebook-login" class="button button-clear button-red" ng-click="fbLogout()"> Log out</button>
       </div>


   </div>

    <div ng-show="$root.currentUser">


    <!-- Tried to use this to open email app on devices. It don't work. -->
    <!-- <a ng-href="mailto:samuelkern11@gmail.com?Subject=Sharelift%20Testing%20Feedback" class="button button-block icon-left ion-clipboard button-dark-blue">Send us your feedback!</a> -->



<!-- List of buttons for smart people only. Comment this out when deploying to production. -->
  <!--<ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            <button class="button button-block button-dark-blue" ng-click={{item.function}}>{{item.name}}</button>
          </ion-item>
        </div>
      </ion-list> -->
<!-- ************************************************************************************ -->


     <div class = "row">
       <div class = "col profile-heading">
         <h4>Completed lifts (Rider)</h4>
       </div>
     </div>
       <ion-item
           ng-repeat="lift in main.completedLiftsRider | orderBy:'-lastMessage.timestamp'"
           class="item-chat item-remove-animate item-avatar item-icon-right item-thumbnail-left item lift-list"
           type="item-text-wrap"
           href="#/lift/{{lift._id}}">
           <img ng-src={{lift|liftPhotoFilter}} class="profile-photo-cover">
           <div class="row">
             <div class="col col-75">
                <h2>{{lift.driverName | profileName}}</h2>
             </div>
             <div class="col col-center">
               <span class="last-message-timestamp">{{lift.departureTime | timeDateFilterWithPostfix}}</span>
             </div>
           </div>
       </ion-item>

       <div class = "row">
         <div class = "col profile-heading">
           <h4>Completed lifts (Driver)</h4>
         </div>
       </div>
       <ion-item
           ng-repeat="lift in main.completedLiftsDriver | orderBy:'-lastMessage.timestamp'"
           class="item-chat item-remove-animate item-avatar item-icon-right item-thumbnail-left item lift-list"
           type="item-text-wrap"
           href="#/lift/{{lift._id}}">
           <img ng-src={{lift|liftPhotoFilter}} class="profile-photo-cover">
           <div class="row">
             <div class="col col-75">
                <h2>{{lift.driverName | profileName}}</h2>
             </div>
             <div class="col col-center">
               <span class="last-message-timestamp">{{lift.departureTime | timeDateFilterWithPostfix}}</span>
             </div>
           </div>
       </ion-item>

     <br>
    </div>
  </div>
</ion-content>
</ion-modal-view>
