<ion-view view-title={{navTitle}}>
    <ion-content class="offer-lift">
    <form name="offerLiftForm" novalidate="" ng-submit="offerLift(offerLiftForm, offerLiftModel)">

      <div class="list">


        <!-- <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label> -->

       <div class="item item-input">
         <div class="row">
           <div class="col col-75">
             <label class="item-input inner-input">
               <span class="input-label"><i class="offer-lift-icon ion-navigate"></i>Direction</span>
               <!-- <input type ="text" readonly ng-model="offerLiftModel.liftDirection"/> -->
               <p>{{offerLiftModel.liftDirection}}</p>
               <!-- <input type ="text" class="seats-input-text" readonly ng-model="offerLiftModel.liftDirection"/> -->
             </label>
           </div>
           <div class="col-10">
             <div class="button button-clear" ng-click="toggleLiftDirection()"><i class="ion-arrow-swap offer-lift-icon" ></i></div>
           </div>

         </div>
       </div>



        <!-- Anything with a class="item" attribute can go here, and will be listed -->


        <!-- <label class="item item-input" ng-class="{ 'has-errors' : offerLiftForm.username.$invalid, 'no-errors' : offerLiftForm.startEndLocation.$valid}">

          <span class="input-label"><i class="offer-lift-icon ion-ios-location"></i></span>
          <input type="text" placeholder= "Start Location (specific address)" name="startEndLocation" ng-model="offerLiftModel.startEndLocation" ng-minlength="5" ng-maxlength="40" required class="start-location-input">
        </label> -->

        <!-- Enter start location -->
        <!-- <label class="item" ng-class="{ 'has-errors' : offerLiftForm.username.$invalid, 'no-errors' : offerLiftForm.startEndLocation.$valid}">
          <span class="input-label"><i class="offer-lift-icon ion-ios-location"></i>Start location</span>
          <input type="text" placeholder= "123 W. Example Ave., Bozeman, MT 59715" name="startEndLocation" ng-model="offerLiftModel.startEndLocation" ng-minlength="5" ng-maxlength="40" required class="lift-input">
        </label> -->

        <div ng-hide="offerLiftModel.liftDirection == 'fromDestination'">
          <label class="item" ng-class="{ 'has-errors' : offerLiftForm.username.$invalid, 'no-errors' : offerLiftForm.startEndLocation.$valid}">
            <span class="input-label"><i class="offer-lift-icon ion-ios-location"></i>Start</span>
            <div class="item-input-wrapper">
              <ion-google-place placeholder="Enter Pickup Location" ng-model="offerLiftAddress" autocomplete-location-obj="autocompleteLocationToModel"></ion-google-place>
            </div>
          </label>

          <!-- Select destination -->
          <label class="item">
            <span class="input-label"><i class="offer-lift-icon ion-map"></i>End</span>
            <div class="lift-input">
              <select ng-model="offerLiftModel.destinationId">
                <option value="" disabled selected>Select a resort</option>
                <!-- <option ng-value="1">#getyourassintonature photo</option> -->
                <!-- <option ng-value="2">Big Sky Resort</option> -->
                <option ng-value="3">Bridger Bowl</option>
                <option ng-value="4">Brighton Ski Resort</option>
                <!-- <option ng-value="5">Powder Mountain</option> -->
                <!-- <option ng-value="6">Snowbird</option> -->
              </select>
            </div>
          </label>

        </div>

        <div ng-show="offerLiftModel.liftDirection == 'fromDestination'">
          <!-- Select destination -->
          <label class="item">
            <span class="input-label"><i class="offer-lift-icon ion-map"></i>Start</span>
            <div class="lift-input">
              <select ng-model="offerLiftModel.destinationId">
                <option value="" disabled selected>Select a resort</option>
                <!-- <option ng-value="1">#getyourassintonature photo</option> -->
                <!-- <option ng-value="2">Big Sky Resort</option> -->
                <option ng-value="3">Bridger Bowl</option>
                <option ng-value="4">Brighton Ski Resort</option>
                <!-- <option ng-value="5">Powder Mountain</option> -->
                <!-- <option ng-value="6">Snowbird</option> -->
              </select>
            </div>
          </label>

          <label class="item" ng-class="{ 'has-errors' : offerLiftForm.username.$invalid, 'no-errors' : offerLiftForm.startEndLocation.$valid}">
            <span class="input-label"><i class="offer-lift-icon ion-ios-location"></i>End</span>
            <div class="item-input-wrapper">
              <ion-google-place placeholder="Enter drop-off location" ng-model="offerLiftAddress" autocomplete-location-obj="autocompleteLocationToModel"></ion-google-place>
            </div>
          </label>

        </div>

        <hr>


        <div class="item item-toggle" ng-hide="offerLiftModel.liftDirection == 'fromDestination'">
          <span class="input-label"><i class="offer-lift-icon ion-arrow-swap"></i>Round Trip</span>

          <div class="lift-input hint-text" ng-show="offerLiftModel.roundTrip == true">Two lifts will be created</div>

          <label class="toggle">
            <input type="checkbox" ng-model="offerLiftModel.roundTrip">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>


        <!-- Select departure time -->
        <label class="item">
          <span class="input-label"><i class="offer-lift-icon ion-android-calendar"></i>Departure Date & Time</span>
          <div class="lift-input">
            <!-- selector goes here -->
            <ion-datetime-picker am-pm ng-model="offerLiftModel.departureTime">
                <label>
                  <span ng-show="!offerLiftModel.departureTime" class="hint-text">Tap to select</span>
                  {{offerLiftModel.departureTime| date: "EEEE, MMMM dd    h:mm a"}}
                </label>
            </ion-datetime-picker>
          </div>
        </label>

        <!-- Select return time -->
        <label class="item" ng-show="offerLiftModel.roundTrip == true">
          <span class="input-label"><i class="offer-lift-icon ion-android-calendar"></i>Return Date & Time</span>
          <div class="lift-input">
            <ion-datetime-picker am-pm ng-model="offerLiftModel.returnTime">
                <label>
                  <span ng-show="!offerLiftModel.returnTime" class="hint-text">Tap to select</span>
                  {{offerLiftModel.returnTime| date: "EEEE, MMMM dd    h:mm a"}}
                </label>
            </ion-datetime-picker>
          </div>
        </label>


        <!-- Select number of seats -->
        <div class="item item-input">
          <div class="row">
            <div class="col col-75">
              <label class="item-input inner-input">
                <span class="input-label"><i class="offer-lift-icon ion-android-car"></i>Seats</span>
                <input type ="number" ng-max="7" ng-min="1" class="seats-input-text" readonly ng-model="offerLiftModel.seats"/>
              </label>
            </div>
            <div class="col-10">
              <div class="button button-clear text-red" ng-click="removeSeat()"><i class="ion-minus-round offer-lift-icon" ></i></div>
            </div>
            <div class="col-10">
              <div class="button button-clear text-dark-blue" ng-click="addSeat()"><i class="ion-plus-round offer-lift-icon" ></i></div>
            </div>
          </div>
        </div>


      </div>


      <!-- <div class="button-bar">
        <button class="button icon-left ion-checkmark-circled button-full button-dark-blue" type="submit">Post Lift</button>
      </div> -->

      <button class="button button-block button-dark-blue" type="submit">
        Post Lift
      </button>


    </form>

    </ion-content>
</ion-view>
