<ion-view view-title={{navTitle}}>
    <ion-content class="content-background">
    <h2>My Lifts</h2>
      <ion-list>

        <!-- LIFTS WHERE USER IS A CONFIRMED RIDER -->
<ion-item
  ng-repeat="lift in main.riderLifts | orderBy:sortLiftBy | filter: {isComplete: false} as results"
  class="item-chat item-remove-animate item-avatar item-icon-right item-thumbnail-left item lift-list row"
  type="item-text-wrap"
  ng-click="goToLiftViewFromMyLifts(lift._id)"
  ng-hide="$root.stateService.isDriverInThisLift(lift)">
<!-- ng-hide="$root.stateService.isDriverInThisLift(lift) == false || $root.stateService.liftIsInPastWithoutRiders(lift) -->
  <div class="row list-confirmation list-item-leftpanel">
    <!-- <img class="item-profile-img" ng-src={{lift|liftPhotoFilter}}> -->
    <img class="profile-photo-cover" width="40" height="40" style="border-radius:50%" ng-src={{lift|liftPhotoFilter}}>
    <div style="padding-left: 10px; width: 100%;">
      <div class="row">
        <div>
          <div class="list-drivername">
            {{lift.driverName | profileName}}
          </div>
          <div class="list-cartype">
            {{getDriverVehicleInfo(lift.driverId) }}
          </div>
        </div>

        <div class="list-item-imgdiv">
          <img width="20" height="20" src="img/lift.png">
        </div>
      </div>

      <div style="padding-top: 15px;">
        <!-- <div class="row">
          <img width="15" height="15" src="img/friends.png">
          <div class = "list-vehicle"> 4 mutual friends</div>
        </div>
        <hr>
        <div class="row">
          <img width="15" height="15" src="img/stars.png">
          <div class = "list-ratings"> 3.5/5</div>
        </div> -->
      </div>
    </div>

  </div>

  <div class="list-confirmation list-item-rightpanel">
    <div class = "row">
      <div class = "col pickup-time">
        {{lift.departureTime | timeDateFilterWithPostfix}}
        <div class="item-tag" ng-hide="lift.liftDirection == 'fromDestination'">
          departure
        </div>
        <div class="item-tag" ng-show="lift.liftDirection == 'fromDestination'">
          meet up
        </div>
      </div>
      <div class="list-item-imgdiv" ng-hide="lift.liftDirection == 'fromDestination'">
        <img width="20" height="20" src="img/toDestinationArrow.png">
      </div>
      <div class="list-item-imgdiv" ng-show="lift.liftDirection == 'fromDestination'">
        <img width="20" height="20" src="img/fromDestinationArrow.png">
      </div>
    </div>

    <div class = "row destination" >
      <img ng-hide="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/mountain.png">
      <img ng-show="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/location.png">
      <span style="font-size: 11px;">{{lift.endLocation.vicinity}}</span>
    </div>

    <div class = "row" >
      <span style="font-size: 10px;">{{getSeatsAvailable(lift)}} seats open</span>
    </div>



    <div>

      <button class="button button-block button-red status-button" >confirmed</button>
      <!-- <button ng-show="getConfirmationStatus(lift)==='pending'" class="button button-block button-outline button-assertive status-button ng-hide">request</button>
      <button ng-show="false" class="button button-block button-assertive status-button ng-hide">full</button> -->
    </div>

  </div>
</ion-item>


<!-- LIFTS WHERE USER IS THE DRIVER -->

<ion-item
  ng-repeat="lift in main.driverLifts | orderBy:sortLiftBy | filter: {isComplete: false} as results"
  class="item-chat item-remove-animate item-avatar item-icon-right item-thumbnail-left item lift-list row"
  type="item-text-wrap"
  ng-click="goToLiftViewDriverFromMyLifts(lift._id)"
  ng-hide="$root.stateService.isDriverInThisLift(lift) == false || $root.stateService.liftIsInPastWithoutRiders(lift)">

  <div class="row list-confirmation list-item-leftpanel">
    <!-- <img class="item-profile-img" ng-src={{lift|liftPhotoFilter}}> -->
    <img class="profile-photo-cover" width="40" height="40" style="border-radius:50%" ng-src={{lift|liftPhotoFilter}}>
    <div style="padding-left: 10px; width: 100%;">
      <div class="row">
        <div>
          <div class="list-drivername">
            You're driving!
          </div>
          <div class="list-cartype">
            {{getDriverVehicleInfo(lift.driverId) }}
          </div>
        </div>

        <div class="list-item-imgdiv">
          <img width="20" height="20" src="img/lift.png">
        </div>
      </div>

      <div style="padding-top: 15px;">
        <!-- <div class="row">
          <img width="15" height="15" src="img/friends.png">
          <div class = "list-vehicle"> 4 mutual friends</div>
        </div>
        <hr>
        <div class="row">
          <img width="15" height="15" src="img/stars.png">
          <div class = "list-ratings"> 3.5/5</div>
        </div> -->
      </div>
    </div>

  </div>

  <div class="list-confirmation list-item-rightpanel">
    <div class = "row">
      <div class = "col pickup-time">
        {{lift.departureTime | timeDateFilterWithPostfix}}
        <div class="item-tag" ng-hide="lift.liftDirection == 'fromDestination'">
          departure
        </div>
        <div class="item-tag" ng-show="lift.liftDirection == 'fromDestination'">
          meet up
        </div>
      </div>
      <div class="list-item-imgdiv" ng-hide="lift.liftDirection == 'fromDestination'">
        <img width="20" height="20" src="img/toDestinationArrow.png">
      </div>
      <div class="list-item-imgdiv" ng-show="lift.liftDirection == 'fromDestination'">
        <img width="20" height="20" src="img/fromDestinationArrow.png">
      </div>
    </div>

    <!-- <div class = "row" > -->
      <div class = "destination">
        <img ng-hide="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/mountain.png">
        <img ng-show="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/location.png">
        <span style="font-size: 11px;">{{lift.endLocation.vicinity}}</span>
      </div>
    <!-- </div> -->

    <div class = "row" >
      <span style="font-size: 10px;">{{getSeatsAvailable(lift)}} seats open</span>
    </div>



    <div>
      <button ng-show="$root.stateService.isConfirmedRiderInThisLift(lift)" class="button button-block button-red status-button" >confirmed</button>
    </div>

  </div>
</ion-item>





      </ion-list>
    </ion-content>
</ion-view>
