
<!--<ul mfb-menu active-icon="ion-plus-round" resting-icon="ion-plus-round" main-action="openOfferLiftModal()" position="br"></ul>-->
<ion-view view-title={{navTitle}} hide-back-button=true>
<ion-content class="content-background">

<!-- SEARCH BAR -->

  <!-- An alert bar - for now just displays an error message if not connected to the internet -->
  <div ng-show="getConnectionStatus() != 'connected'" class="alert-bar-error">
    <p>Connection Error: {{getConnectionStatus()}}</p>
  </div>

  <div class="filter-bar" ng-show="ratingNeeded() == false"> <!--isInActiveLift == false && --> <!--Removed that for now. State machine under review -->

    <!-- <div class="search-bar" ng-controller="MapController">
      <div class="bar bar-header item-input-inset" id="locationField">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-location-outline placeholder-icon"></i>
          <ion-google-place placeholder="Enter Pickup Location" autocomplete-location-obj="autocompleteObjectPass"></ion-google-place>
        </label>
      </div>
    </div> -->

    <div class="list direction-toggle">
      <div class="item item-input">

        <div class="row">

          <div class="col">
            <!-- <img width="20" height="20" src="img/toDestinationArrow.png"> -->
          </div>


          <div class="col">
            <img width="30" height="30" src="img/change.png" ng-click="toggleDirection()">
          </div>
          <div class="col">
            <!-- <img width="20" height="20" src="img/fromDestinationArrow.png"> -->
          </div>

        </div>

      </div>
    </div>





    <div class="list destination-selection" ng-hide="liftDirectionFilter == 'fromDestination'">
      <div class="item item-input">
        <img width="20" height="20" src="img/location.png"><br>
        <label class="item-input-wrapper">
          <ion-google-place placeholder="{{placeholder()}}" ng-model="pickupDropOffAddress" autocomplete-location-obj="autocompleteObjectPass"></ion-google-place>
        </label>
      </div>
    </div>



    <div class="list destination-selection">
      <div class="item item-input">
          <!-- <div class="filter-display-text"><i class="filter-icon ion-map"></i></div> -->
          <img width="20" height="20" src="img/mountain.png"><br>
          <div ng-show="hasSelectedResort()" class="button button-clear" ng-click="openSelectDestinationModal()">
            {{selectedResort.destinationName}}
          </div>
          <div ng-show="!hasSelectedResort()" class="button button-clear" ng-click="openSelectDestinationModal()">
            choose a mountain
          </div>
      </div>
    </div>

    <div class="list destination-selection" ng-show="liftDirectionFilter == 'fromDestination'">
      <div class="item item-input">
        <img width="20" height="20" src="img/location.png"><br>
        <label class="item-input-wrapper">
          <ion-google-place placeholder="start location" ng-model="pickupDropOffAddress" autocomplete-location-obj="autocompleteObjectPass"></ion-google-place>
        </label>
      </div>
    </div>
    <div class="list">
      <label class="item item-input">
        <div class="filter-display-text"><i class="filter-icon ion-android-calendar"></i></div>

        <div class="date-selection">
          <ion-datetime-picker date am-pm ng-model="dateInput">
            <label>
              <div class="filter-display-text-right" >
                lifts offered
                <span id="date-selection-day" class="date-borderline">{{dateInput| date: "EEEE, MMMM dd"}}</span>
              </div>
            </label>
          </ion-datetime-picker>
        </div>

      </label>
    </div>

    <!-- <button class="button-red" ng-click="getMatrixTimeDistance()">Test Matrix API Call</button> -->
    <!-- <button class="button-red" ng-click="testWavierAction()">Reset waiver sign-offs for this user</button> -->
    <!-- <div>{{liftDirectionFilter}}</div> -->

  </div>


  <!-- LIFT LIST -->
  <ion-list>
      <ion-item
          ng-repeat="lift in main.openLifts | orderBy:sortLiftBy | liftListFilter:dateInput | filter: {destinationLocationId: selectedResort.locationId, liftDirection: liftDirectionFilter} as results"
          class="item-chat item-remove-animate item-avatar item-icon-right item-thumbnail-left item lift-list row"
          type="item-text-wrap"
          ng-click="goToLiftView(lift._id)">

          <div class="row list-confirmation list-item-leftpanel">
            <!-- <img class="item-profile-img" ng-src={{lift|liftPhotoFilter}}> -->
            <img class="profile-photo-cover" width="40" height="40" style="border-radius:50%" ng-src={{lift|liftPhotoFilter}}>
            <div style="padding-left: 10px; width: 100%;">
              <div class="row">
                <div>
                  <div class="list-drivername">
                    {{lift.driverName | profileName}}
                  </div>
                  <div class="list-cartype">
                    {{getDriverVehicleInfo(lift.driverId) }}
                  </div>
                </div>

                <div class="list-item-imgdiv">
                  <img width="20" height="20" src="img/lift.png">
                </div>
              </div>

              <div style="padding-top: 15px;">
                <!-- <div class="row">
                  <img width="15" height="15" src="img/friends.png">
                  <div class = "list-vehicle"> 4 mutual friends</div>
                </div>
                <hr>
                <div class="row">
                  <img width="15" height="15" src="img/stars.png">
                  <div class = "list-ratings"> 3.5/5</div>
                </div> -->
              </div>
            </div>

          </div>

          <div class="list-confirmation list-item-rightpanel">
            <div class = "row">
              <div class = "col pickup-time">
                {{lift.departureTime | timeDateFilterWithPostfix}}
                <div class="item-tag" ng-hide="lift.liftDirection == 'fromDestination'">
                  departure
                </div>
                <div class="item-tag" ng-show="lift.liftDirection == 'fromDestination'">
                  meet up
                </div>
              </div>
              <div class="list-item-imgdiv" ng-hide="lift.liftDirection == 'fromDestination'">
                <img width="20" height="20" src="img/toDestinationArrow.png">
              </div>
              <div class="list-item-imgdiv" ng-show="lift.liftDirection == 'fromDestination'">
                <img width="20" height="20" src="img/fromDestinationArrow.png">
              </div>
            </div>

            <div class = "row destination" >
              <img ng-hide="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/mountain.png">
              <img ng-show="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/location.png">
              <span style="font-size: 11px;">{{lift.endLocation.vicinity}}</span>
            </div>

            <div class = "row" >
              <span style="font-size: 10px;">{{getSeatsAvailable(lift)}} seats open</span>
            </div>


            <div>
            <!-- {{$root.stateService.isConfirmedRiderInThisLift(lift)}} -->
              <button ng-hide="$root.stateService.isConfirmedRiderInThisLift(lift) || $root.stateService.isPotentialRiderInThisLift(lift)" class="button button-block button-outline button-red status-button">request</button>
              <div ng-show="$root.stateService.isPotentialRiderInThisLift(lift)" class="pending-request" >request sent</div>
              <button ng-show="$root.stateService.isConfirmedRiderInThisLift(lift)" class="button button-block button-red status-button" >confirmed</button>
              <button ng-show="lift.confirmedRiders.length >= lift.seats" class="button button-block button-assertive status-button">full</button>
            </div>

          </div>
      </ion-item>

      <div ng-show="results.length == 0" id="no-lifts-message">There are no lifts available for your given search criteria.</div>

  </ion-list>

</ion-content>
</ion-view>
